/* Colors */
:root {
  --success-color: #4ade80;
  --error-color: #f87171;
}

body {
  /* Dark Theme (Default) */
  --bg-primary: #151515;
  --bg-secondary: #1a1a1a;
  --bg-card: #202020;
  --bg-panel: #222222;
  --bg-hover: #2a2a2a;
  
  --text-primary: #ffffff;
  --text-secondary: #a1a1aa;
  
  --accent-primary: #e0b07b;
  --accent-hover: #f1c798;
  
  --btn-primary: #333333;
  --btn-primary-hover: #444444;
  --btn-text: #ffffff;
  
  --border-color: #333333;
  --input-bg: #222222;

  &.light-theme {
    /* Light Theme */
    --bg-primary: #f9fafb;
    --bg-secondary: #f3f4f6;
    --bg-card: #ffffff;
    --bg-panel: #e5e7eb;
    --bg-hover: #d1d5db;
    
    --text-primary: #111827;
    --text-secondary: #4b5563;
    
    --accent-primary: #d97706;
    --accent-hover: #b45309;
    
    --btn-primary: #e5e7eb;
    --btn-primary-hover: #d1d5db;
    --btn-text: #111827;
    
    --border-color: #e5e7eb;
    --input-bg: #ffffff;
  }
}

